nodered/nodes.txt
[{"id":"33a41f84.9eccf","type":"subflow","name":"Switch tab","info":"","in":[{"x":300,"y":40,"wires":[{"id":"fb16e6b5.0bec58"}]}],"out":[]},{"id":"fb16e6b5.0bec58","type":"ui_ui_control","z":"33a41f84.9eccf","name":"ui control","x":500,"y":100,"wires":[[]]},{"id":"804d20f1.400e7","type":"function","z":"33a41f84.9eccf","name":"","func":"msg.payload = msg.req.query.tabname;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["fb16e6b5.0bec58","1ead3830.6945e"]]},{"id":"29680347.bd780c","type":"http in","z":"33a41f84.9eccf","name":"","url":"/displayTab","method":"get","swaggerDoc":"","x":140,"y":100,"wires":[["804d20f1.400e7"]]},{"id":"1ead3830.6945e","type":"http response","z":"33a41f84.9eccf","name":"","x":510,"y":140,"wires":[]},{"id":"b39469c9.2ebef","type":"function","z":"c42f0882.3c7f38","name":"Prepare Twitter request","func":"var userid = msg.payload;\nglobal.set('speech','');\nmsg.headers = {\n     'Authorization' : 'Bearer AAAAAAAAAAAAAAAAAAAAANHm0AAAAAAAdLLeQg2NqDRg8fZRrkQZDsjbjcI%3D2uOnm1ATU9EERjjUI6YZ27RzYHTuWbr1wougWqBY0Apo4Vdejk',\n     'Content-Type' : 'application/x-www-form-urlencoded',\n  }\nmsg.url = \"https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=\"+userid+\"&count=1000\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["710277b0.d10ff8"]]},{"id":"710277b0.d10ff8","type":"http request","z":"c42f0882.3c7f38","name":"Get tweets","method":"GET","ret":"obj","url":"","tls":"","x":647,"y":40,"wires":[["1f931914.275aaf","6c9fbcc1.41896c"]]},{"id":"989147b4.65e238","type":"inject","z":"c42f0882.3c7f38","name":"User name","topic":"","payload":"@luispa_","payloadType":"str","repeat":"","crontab":"","once":false,"x":106,"y":40,"wires":[["b39469c9.2ebef"]]},{"id":"1f931914.275aaf","type":"debug","z":"c42f0882.3c7f38","name":"","active":false,"console":"false","complete":"false","x":849,"y":41,"wires":[]},{"id":"6c9fbcc1.41896c","type":"Serial Iterator","z":"c42f0882.3c7f38","name":"","property":"payload","inputFlow":"input","saveOutput":false,"recursive":false,"storeId":false,"x":103,"y":130,"wires":[["7bb5792d.ce2d9"],["3274b119.ea8f16"]]},{"id":"7bb5792d.ce2d9","type":"function","z":"c42f0882.3c7f38","name":"append tweet to speech","func":"var tempspeech = global.get('speech');\ntempspeech = tempspeech + msg.payload.text + ' . ';\nglobal.set('speech',tempspeech);\nreturn msg;","outputs":1,"noerr":0,"x":143,"y":190,"wires":[["6c9fbcc1.41896c"]]},{"id":"3274b119.ea8f16","type":"function","z":"c42f0882.3c7f38","name":"prepare payload for PI","func":"msg.payload = global.get('speech');\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":150,"wires":[["4145d0e2.2545b8","80834b86.222198"]]},{"id":"4145d0e2.2545b8","type":"debug","z":"c42f0882.3c7f38","name":"","active":false,"console":"false","complete":"false","x":543,"y":110,"wires":[]},{"id":"80834b86.222198","type":"watson-personality-insights-v3","z":"c42f0882.3c7f38","name":"","inputlang":"es","outputlang":"es","rawscores":false,"consumption":false,"x":563,"y":150,"wires":[["cde615fb.e8aaa","9c4aca5.6529bb8"]]},{"id":"cde615fb.e8aaa","type":"debug","z":"c42f0882.3c7f38","name":"","active":true,"console":"false","complete":"true","x":823,"y":150,"wires":[]},{"id":"9c4aca5.6529bb8","type":"function","z":"c42f0882.3c7f38","name":"split insights","func":"msg = msg.insights;\nvar personality = msg.personality;\nvar needs = msg.needs;\nvar values = msg.values;\nreturn [personality,needs,values];","outputs":"3","noerr":0,"x":103,"y":350,"wires":[["393102b6.7f07ce","52ad7773.b855a8"],["f4326ce6.fe816"],["d8cd5f29.38c06"]]},{"id":"393102b6.7f07ce","type":"debug","z":"c42f0882.3c7f38","name":"","active":false,"console":"false","complete":"true","x":113,"y":510,"wires":[]},{"id":"52ad7773.b855a8","type":"function","z":"c42f0882.3c7f38","name":"Personality","func":"var msg1 = {};\nvar children = {};\nmsg1.topic = msg.name;\nvar percentile = msg.percentile *100;\npercentile = percentile.toPrecision(4); \nmsg1.payload = percentile;\nchildren = msg.children;\nreturn [msg1, children];","outputs":"2","noerr":0,"x":343,"y":310,"wires":[["3603ed0b.93f172","e2e36c4a.dc8c38","820bccfe.0bb43"],["2438e036.1e59"]]},{"id":"f4326ce6.fe816","type":"function","z":"c42f0882.3c7f38","name":"Needs","func":"var msg1 = {};\nvar children = {};\nmsg1.topic = msg.name;\nvar percentile = msg.percentile *100;\npercentile = percentile.toPrecision(4); \nmsg1.payload = percentile;\nchildren = msg.children;\nreturn [msg1, children];","outputs":1,"noerr":0,"x":323,"y":350,"wires":[["6b538451.db1104","e5f601b2.7d0af"]]},{"id":"d8cd5f29.38c06","type":"function","z":"c42f0882.3c7f38","name":"Values","func":"var msg1 = {};\nvar children = {};\nmsg1.topic = msg.name;\nvar percentile = msg.percentile *100;\npercentile = percentile.toPrecision(4); \nmsg1.payload = percentile;\nchildren = msg.children;\nreturn [msg1, children];","outputs":1,"noerr":0,"x":323,"y":390,"wires":[["3fe23d60.9277ca","10ec904.b5baf7"]]},{"id":"3603ed0b.93f172","type":"debug","z":"c42f0882.3c7f38","name":"","active":false,"console":"false","complete":"true","x":568,"y":237,"wires":[]},{"id":"e2e36c4a.dc8c38","type":"ui_chart","z":"c42f0882.3c7f38","name":"Personalidad","group":"3c75d6c5.688b52","order":0,"width":"10","height":"7","label":"Personalidad","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":588,"y":277,"wires":[[],[]]},{"id":"2438e036.1e59","type":"function","z":"c42f0882.3c7f38","name":"Personality subcategories","func":"var msg1 = {};\nmsg1.topic = msg.name;\nvar percentile = msg.percentile *100;\npercentile = percentile.toPrecision(4); \nmsg1.payload = percentile;\nreturn msg1;","outputs":1,"noerr":0,"x":628,"y":317,"wires":[["10f32683.e7e579","ae908b60.7db8c8"]]},{"id":"6b538451.db1104","type":"debug","z":"c42f0882.3c7f38","name":"","active":false,"console":"false","complete":"true","x":568,"y":357,"wires":[]},{"id":"e5f601b2.7d0af","type":"ui_chart","z":"c42f0882.3c7f38","name":"Necesidades","group":"3c75d6c5.688b52","order":0,"width":"16","height":"9","label":"Necesidades","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":588,"y":397,"wires":[[],[]]},{"id":"3fe23d60.9277ca","type":"debug","z":"c42f0882.3c7f38","name":"","active":false,"console":"false","complete":"true","x":568,"y":437,"wires":[]},{"id":"10ec904.b5baf7","type":"ui_chart","z":"c42f0882.3c7f38","name":"Valores","group":"3c75d6c5.688b52","order":0,"width":"8","height":"7","label":"Valores","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":578,"y":477,"wires":[[],[]]},{"id":"10f32683.e7e579","type":"debug","z":"c42f0882.3c7f38","name":"","active":false,"console":"false","complete":"true","x":828,"y":317,"wires":[]},{"id":"3e94f16f.dd70f6","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"72c10260.5d5104","order":1,"width":"3","height":"3","gtype":"donut","title":"Audacia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":978,"y":377,"wires":[]},{"id":"ae908b60.7db8c8","type":"switch","z":"c42f0882.3c7f38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Audacia","vt":"str"},{"t":"eq","v":"Intereses artísticos","vt":"str"},{"t":"eq","v":"Emocionalidad","vt":"str"},{"t":"eq","v":"Imaginación","vt":"str"},{"t":"eq","v":"Intelecto","vt":"str"},{"t":"eq","v":"Desafío a la autoridad","vt":"str"},{"t":"eq","v":"Necesidad de éxito","vt":"str"},{"t":"eq","v":"Cautela","vt":"str"},{"t":"eq","v":"Obediencia","vt":"str"},{"t":"eq","v":"Disciplina","vt":"str"},{"t":"eq","v":"Autodisciplina","vt":"str"},{"t":"eq","v":"Autoeficacia","vt":"str"},{"t":"eq","v":"Nivel de actividad","vt":"str"},{"t":"eq","v":"Seguridad en uno mismo","vt":"str"},{"t":"eq","v":"Alegría","vt":"str"},{"t":"eq","v":"Búsqueda de emociones","vt":"str"},{"t":"eq","v":"Simpatía","vt":"str"},{"t":"eq","v":"Sociabilidad","vt":"str"},{"t":"eq","v":"Altruismo","vt":"str"},{"t":"eq","v":"Cooperación","vt":"str"},{"t":"eq","v":"Modestia","vt":"str"},{"t":"eq","v":"Intransigencia","vt":"str"},{"t":"eq","v":"Compasión","vt":"str"},{"t":"eq","v":"Confianza","vt":"str"},{"t":"eq","v":"Vehemencia","vt":"str"},{"t":"eq","v":"Tendencia a la preocupación","vt":"str"},{"t":"eq","v":"Melancolía","vt":"str"},{"t":"eq","v":"Desmesura","vt":"str"},{"t":"eq","v":"Timidez","vt":"str"},{"t":"eq","v":"Susceptibilidad a la tensión","vt":"str"}],"checkall":"true","outputs":30,"x":828,"y":577,"wires":[["3e94f16f.dd70f6"],["3a5199b2.edeffe"],["80ae94c8.14ce9"],["49f6c575.f9afc4"],["eb2f6d67.cd9b38"],["e9bfb618.935dc"],["30085f2b.c90018"],["dc414266.b4c3b8"],["48e8c6a1.582288"],["db048b93.e2cc48"],["d610e6e4.8c4fd"],["8391559e.087d6"],["45cf274e.d7e838"],["76a245ae.0e458c"],["b4eb8a30.7b37f8"],["207c214c.2e2f7e"],["2cb94c0.3964d34"],["d3acbf0e.b4616"],["7491a8ae.9d7f88"],["4be9562d.692c"],["ffd076d7.21996"],["fee7c00f.4ad1a"],["68a64ece.7dc49"],["9b12f2b8.a762b"],["57a37ff.e2db28"],["91f06b6e.947bd"],["5535527e.89a224"],["517885dd.3310c4"],["8318c450.1d5d98"],["f8587bf8.aaadf"]]},{"id":"80ae94c8.14ce9","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"72c10260.5d5104","order":2,"width":"3","height":"3","gtype":"donut","title":"Emocionalidad","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":998,"y":417,"wires":[]},{"id":"eb2f6d67.cd9b38","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"72c10260.5d5104","order":3,"width":"3","height":"3","gtype":"donut","title":"Intelecto","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":978,"y":457,"wires":[]},{"id":"30085f2b.c90018","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"e828dbbc.894738","order":7,"width":"3","height":"3","gtype":"gage","title":"Necesidad de Éxito","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1008,"y":497,"wires":[]},{"id":"48e8c6a1.582288","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"e828dbbc.894738","order":8,"width":"3","height":"3","gtype":"gage","title":"Obediencia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":988,"y":537,"wires":[]},{"id":"d610e6e4.8c4fd","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"e828dbbc.894738","order":9,"width":"3","height":"3","gtype":"gage","title":"Autodisciplina","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":998,"y":577,"wires":[]},{"id":"45cf274e.d7e838","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"db7b8ca2.ef1838","order":10,"width":"3","height":"3","gtype":"compass","title":"Nivel de actividad","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1008,"y":617,"wires":[]},{"id":"b4eb8a30.7b37f8","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"db7b8ca2.ef1838","order":11,"width":"3","height":"3","gtype":"compass","title":"Alegría","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":968,"y":657,"wires":[]},{"id":"2cb94c0.3964d34","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"db7b8ca2.ef1838","order":12,"width":"3","height":"3","gtype":"compass","title":"Simpatía","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":978,"y":697,"wires":[]},{"id":"7491a8ae.9d7f88","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"4d11f9fc.c966b","order":13,"width":"3","height":"3","gtype":"donut","title":"Altruismo","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":978,"y":737,"wires":[]},{"id":"ffd076d7.21996","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"4d11f9fc.c966b","order":14,"width":"3","height":"3","gtype":"donut","title":"Modestia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":978,"y":777,"wires":[]},{"id":"68a64ece.7dc49","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"4d11f9fc.c966b","order":15,"width":"3","height":"3","gtype":"donut","title":"Compasión","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":988,"y":817,"wires":[]},{"id":"57a37ff.e2db28","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"d9db471f.16bb9","order":16,"width":"3","height":"3","gtype":"gage","title":"Vehemencia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":988,"y":857,"wires":[]},{"id":"5535527e.89a224","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"d9db471f.16bb9","order":17,"width":"3","height":"3","gtype":"gage","title":"Melancolía","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":988,"y":897,"wires":[]},{"id":"8318c450.1d5d98","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"d9db471f.16bb9","order":18,"width":"3","height":"3","gtype":"gage","title":"Timidez","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":978,"y":937,"wires":[]},{"id":"3a5199b2.edeffe","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"72c10260.5d5104","order":4,"width":"3","height":"3","gtype":"donut","title":"Intereses Artísticos","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1168,"y":377,"wires":[]},{"id":"49f6c575.f9afc4","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"72c10260.5d5104","order":5,"width":"3","height":"3","gtype":"donut","title":"Imaginación","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1168,"y":417,"wires":[]},{"id":"e9bfb618.935dc","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"72c10260.5d5104","order":6,"width":"3","height":"3","gtype":"donut","title":"Desafío a la Autoridad","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1178,"y":457,"wires":[]},{"id":"dc414266.b4c3b8","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"e828dbbc.894738","order":19,"width":"3","height":"3","gtype":"gage","title":"Cautela","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1178,"y":497,"wires":[]},{"id":"db048b93.e2cc48","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"e828dbbc.894738","order":20,"width":"3","height":"3","gtype":"gage","title":"Disciplina","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1138,"y":537,"wires":[]},{"id":"8391559e.087d6","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"e828dbbc.894738","order":21,"width":"3","height":"3","gtype":"gage","title":"Autoeficacia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1168,"y":577,"wires":[]},{"id":"76a245ae.0e458c","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"db7b8ca2.ef1838","order":22,"width":"3","height":"3","gtype":"compass","title":"Seguridad en si mismo","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1218,"y":617,"wires":[]},{"id":"207c214c.2e2f7e","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"db7b8ca2.ef1838","order":23,"width":"3","height":"3","gtype":"compass","title":"Búsqueda de emociones","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1148,"y":657,"wires":[]},{"id":"d3acbf0e.b4616","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"db7b8ca2.ef1838","order":24,"width":"3","height":"3","gtype":"compass","title":"Sociabilidad","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1128,"y":697,"wires":[]},{"id":"4be9562d.692c","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"4d11f9fc.c966b","order":25,"width":"3","height":"3","gtype":"donut","title":"Cooperación","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1128,"y":737,"wires":[]},{"id":"fee7c00f.4ad1a","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"4d11f9fc.c966b","order":26,"width":"3","height":"3","gtype":"donut","title":"Intransigencia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1138,"y":777,"wires":[]},{"id":"9b12f2b8.a762b","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"4d11f9fc.c966b","order":27,"width":"3","height":"3","gtype":"donut","title":"Confianza","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1138,"y":817,"wires":[]},{"id":"91f06b6e.947bd","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"d9db471f.16bb9","order":28,"width":"3","height":"3","gtype":"gage","title":"Tendencia a la preocupación","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1198,"y":857,"wires":[]},{"id":"517885dd.3310c4","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"d9db471f.16bb9","order":29,"width":"3","height":"3","gtype":"gage","title":"Desmesura","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1148,"y":897,"wires":[]},{"id":"f8587bf8.aaadf","type":"ui_gauge","z":"c42f0882.3c7f38","name":"","group":"d9db471f.16bb9","order":30,"width":"3","height":"3","gtype":"gage","title":"Susceptibilidad a la tensión","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1198,"y":937,"wires":[]},{"id":"820bccfe.0bb43","type":"ui_chart","z":"c42f0882.3c7f38","name":"Aspectos","group":"e6217371.61c15","order":0,"width":"7","height":"5","label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":788,"y":277,"wires":[[],[]]},{"id":"75b74c5f.75db7c","type":"ui_button","z":"c42f0882.3c7f38","name":"","group":"3c75d6c5.688b52","order":0,"width":0,"height":0,"label":"Aspectos","color":"","bgcolor":"","icon":"","payload":"Personalidad","payloadType":"str","topic":"","x":160,"y":660,"wires":[["9aea5acf.4e4e2"]]},{"id":"9aea5acf.4e4e2","type":"subflow:33a41f84.9eccf","z":"c42f0882.3c7f38","x":430,"y":660,"wires":[]},{"id":"3c3c3619.9935e2","type":"ui_button","z":"c42f0882.3c7f38","name":"","group":"45282716.a451f8","order":0,"width":0,"height":0,"label":"← Perfil General","color":"","bgcolor":"","icon":"","payload":"Perfil General","payloadType":"str","topic":"","x":180,"y":780,"wires":[["d19295d2.7b77c8"]]},{"id":"d19295d2.7b77c8","type":"subflow:33a41f84.9eccf","z":"c42f0882.3c7f38","x":430,"y":780,"wires":[]},{"id":"9d1fcaeb.2a4d9","type":"ui_button","z":"c42f0882.3c7f38","name":"","group":"3c75d6c5.688b52","order":0,"width":0,"height":0,"label":"Ficha del Demandante","color":"","bgcolor":"","icon":"","payload":"Demandante de Empleo","payloadType":"str","topic":"","x":200,"y":720,"wires":[["c02de8b1.3306a"]]},{"id":"c02de8b1.3306a","type":"subflow:33a41f84.9eccf","z":"c42f0882.3c7f38","x":430,"y":720,"wires":[]},{"id":"3c75d6c5.688b52","type":"ui_group","z":"","name":"Perfil","tab":"cb977130.9c00d8","order":1,"disp":false,"width":"18"},{"id":"72c10260.5d5104","type":"ui_group","z":"","name":"Aptra Expcias","tab":"b4c132d9.47fb68","order":2,"disp":true,"width":"4"},{"id":"e828dbbc.894738","type":"ui_group","z":"","name":"Rpnsbld","tab":"b4c132d9.47fb68","order":3,"disp":true,"width":"3"},{"id":"db7b8ca2.ef1838","type":"ui_group","z":"","name":"Extrvsn","tab":"b4c132d9.47fb68","order":4,"disp":true,"width":"3"},{"id":"4d11f9fc.c966b","type":"ui_group","z":"","name":"Amabld","tab":"b4c132d9.47fb68","order":5,"disp":true,"width":"3"},{"id":"d9db471f.16bb9","type":"ui_group","z":"","name":"Rng Emcnl","tab":"b4c132d9.47fb68","order":6,"disp":true,"width":"3"},{"id":"e6217371.61c15","type":"ui_group","z":"","name":"Aspectos","tab":"b4c132d9.47fb68","order":1,"disp":true,"width":"7"},{"id":"45282716.a451f8","type":"ui_group","z":"","name":"Back","tab":"b4c132d9.47fb68","order":7,"disp":false,"width":"24"},{"id":"cb977130.9c00d8","type":"ui_tab","z":"","name":"Perfil General","icon":"dashboard"},{"id":"b4c132d9.47fb68","type":"ui_tab","z":"","name":"Personalidad","icon":"dashboard","order":2}]

[{"id":"2bfa1428.ac9a5c","type":"http in","z":"b9d33e43.9e185","name":"/getUserTweets?screen_name=guolterguait&count=3","url":"/getUserTweets","method":"get","swaggerDoc":"","x":231,"y":139.4444398880005,"wires":[["49218ca1.3b3374"]]},{"id":"616ff041.b6bb","type":"comment","z":"b9d33e43.9e185","name":"README","info":"Pre-req: Complete the instructions found in \"Request a Bearer token\" \n\nUsage: \nGET /getUserTweets?screen_name=<twitter screen name>\n\nExample:\n\nGET /getUserTweets?screen_name=bsilverm_IoT\n\nParameters:\n?screen_name - The screen name of the Twitter user\n?count (optional) - The number of tweets to retrieve from the user\n\nExample generated request: (for API usage see Twitter doc @ https://dev.twitter.com/rest/reference/get/statuses/user_timeline):\n\nhttps://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=bsilverm_IoT&count=10","x":566.1110992431641,"y":78,"wires":[]},{"id":"4b43a0d8.f111e8","type":"http request","z":"b9d33e43.9e185","name":"Issue Twitter API REST Request (GET)","method":"GET","ret":"txt","url":"https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={{{twitterSN}}}&count={{{count}}}","x":847.2220191955566,"y":139.44440841674805,"wires":[["3eef04eb.2a7cbc"]]},{"id":"49218ca1.3b3374","type":"function","z":"b9d33e43.9e185","name":"Twitter AUTH headers","func":" msg.headers = {\n     'Authorization' : 'Bearer AAAAAAAAAAAAAAAAAAAAANHm0AAAAAAAdLLeQg2NqDRg8fZRrkQZDsjbjcI%3D2uOnm1ATU9EERjjUI6YZ27RzYHTuWbr1wougWqBY0Apo4Vdejk',\n     'Content-Type' : 'application/x-www-form-urlencoded',\n  }\nmsg.twitterSN =  msg.req.query.screen_name;\nmsg.count = msg.req.query.count;\nreturn msg;\n\n//{\"token_type\":\"bearer\",\"access_token\":\"AAAAAAAAAAAAAAAAAAAAANHm0AAAAAAAdLLeQg2NqDRg8fZRrkQZDsjbjcI%3D2uOnm1ATU9EERjjUI6YZ27RzYHTuWbr1wougWqBY0Apo4Vdejk\"}","outputs":1,"noerr":0,"x":573.3610687255859,"y":139.0555191040039,"wires":[["4b43a0d8.f111e8"]]},{"id":"a24ec86a.e88d68","type":"http in","z":"b9d33e43.9e185","name":"/getToken","url":"/getToken","method":"get","swaggerDoc":"","x":262.1111145019531,"y":281.53332138061523,"wires":[["5e6b28f7.d86268"]]},{"id":"ca26b2ee.dc2068","type":"http request","z":"b9d33e43.9e185","name":"Request Bearer Token","method":"POST","ret":"obj","url":"https://api.twitter.com/oauth2/token","tls":"","x":582.3611297607422,"y":281.78339767456055,"wires":[["1f3b36b8.9b4041"]]},{"id":"5e6b28f7.d86268","type":"function","z":"b9d33e43.9e185","name":"headers","func":" msg.headers = {\n     'Authorization' : 'Basic cVFRN0pDTUY1VFM0c2t5amhiWG1SUVI1UzozYU9aVFBlSnN1SXVERzRIeGNadHhLVHhkMmRPUG9MZmNNSnpkYUlzRm1kVlU4Umd6Yg==',\n     'Content-Type' : 'application/x-www-form-urlencoded'\n  };\n  \nmsg.payload = 'grant_type=client_credentials';\nreturn msg;\n\n//cVFRN0pDTUY1VFM0c2t5amhiWG1SUVI1UzozYU9aVFBlSnN1SXVERzRIeGNadHhLVHhkMmRPUG9MZmNNSnpkYUlzRm1kVlU4Umd6Yg==","outputs":1,"noerr":0,"x":399.1111145019531,"y":281.5333366394043,"wires":[["ca26b2ee.dc2068"]]},{"id":"1f3b36b8.9b4041","type":"http response","z":"b9d33e43.9e185","name":"Token Response","x":799.3611297607422,"y":281.78339767456055,"wires":[]},{"id":"4405311a.d31b1","type":"comment","z":"b9d33e43.9e185","name":"Request a Bearer Token from Twitter (readme)","info":"Steps:\n\n1)  Go to apps.twitter.com and create an application.\n2)  Copy your consumer key and secret.\n3)  Build a string in this format: \"consumer key:secret\" (ie - \"12345:6789\")\n4)  Encode the string in base64 using any base64 encoding utility (some available on the web)\n5)  Double-click the \"headers\" node and paste your encoded string on line 2\nafter the word \"Basic \".  For example:\n\n'Authorization' : 'Basic cmFuZG9tdGV4dHJhbmRvbXRleHRyYW5kb210ZXh0OnJhbmRvbXRleHRyYW5kb210ZXh0cmFuZG9tdGV4dA==',\n\n6)  Deploy the flow\n7)  Execute the request by entering the following URL in your browser:\n\nhttp://<your node red URL>/getToken\n\n8)  If done correctly, you will be granted a bearer token\n9)  Copy the token in to line 2 of the \"Twitter AUTH headers\" node\n\nThis only needs to be done once, unless for some reason you need to invalidate\nthe token (ie - it is compromised and needs to be re-generated).\n\nFor more information on Application-only Authentication, see:\n\nhttps://dev.twitter.com/oauth/application-only","x":593.4111175537109,"y":221.33332443237305,"wires":[]},{"id":"3eef04eb.2a7cbc","type":"http response","z":"b9d33e43.9e185","name":"","x":1083.2222623825073,"y":139.3333225250244,"wires":[]}]

[{"id":"33a41f84.9eccf","type":"subflow","name":"Switch tab","info":"","in":[{"x":300,"y":40,"wires":[{"id":"fb16e6b5.0bec58"}]}],"out":[]},{"id":"fb16e6b5.0bec58","type":"ui_ui_control","z":"33a41f84.9eccf","name":"ui control","x":500,"y":100,"wires":[[]]},{"id":"804d20f1.400e7","type":"function","z":"33a41f84.9eccf","name":"","func":"msg.payload = msg.req.query.tabname;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["fb16e6b5.0bec58","1ead3830.6945e"]]},{"id":"29680347.bd780c","type":"http in","z":"33a41f84.9eccf","name":"","url":"/displayTab","method":"get","swaggerDoc":"","x":140,"y":100,"wires":[["804d20f1.400e7"]]},{"id":"1ead3830.6945e","type":"http response","z":"33a41f84.9eccf","name":"","x":510,"y":140,"wires":[]},{"id":"dbad6e9b.be9b9","type":"ui_text_input","z":"6148dcc.e0c18a4","name":"descripcion","label":"Descripción","group":"4b2a400a.2198e8","order":2,"width":"18","height":"5","passthru":true,"mode":"text","delay":300,"topic":"","x":490,"y":160,"wires":[[]]},{"id":"c1725f64.2f1858","type":"ui_text_input","z":"6148dcc.e0c18a4","name":"nombre","label":"Nombre de la oferta","group":"4b2a400a.2198e8","order":1,"width":"17","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":480,"y":120,"wires":[[]]},{"id":"60487f2e.38763","type":"ui_dropdown","z":"6148dcc.e0c18a4","name":"","label":"Nivel académico requerido","place":"Seleccionar","group":"4b2a400a.2198e8","order":3,"width":"10","height":"2","passthru":true,"options":[{"label":"Estudios básicos","value":1,"type":"num"},{"label":"Bachiller","value":2,"type":"num"},{"label":"Grado medio","value":3,"type":"num"},{"label":"Licenciado","value":4,"type":"num"},{"label":"Formación Profesional","value":5,"type":"num"}],"payload":"","topic":"","x":540,"y":200,"wires":[[]]},{"id":"d5dd43ad.35dcb","type":"ui_switch","z":"6148dcc.e0c18a4","name":"","label":"Movilidad Geográfica","group":"49569416.2fab3c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":240,"wires":[[]]},{"id":"c2b56043.7418","type":"ui_switch","z":"6148dcc.e0c18a4","name":"","label":"Permiso de Conducir","group":"d649b58a.c4de28","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":280,"wires":[[]]},{"id":"8da36983.db18b","type":"ui_switch","z":"6148dcc.e0c18a4","name":"","label":"Ofimática","group":"d649b58a.c4de28","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":240,"wires":[[]]},{"id":"4a69365.59e5348","type":"ui_switch","z":"6148dcc.e0c18a4","name":"","label":"Experiencia","group":"d649b58a.c4de28","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":280,"wires":[[]]},{"id":"1af16ab8.cb40cd","type":"ui_button","z":"6148dcc.e0c18a4","name":"","group":"480ec768.c768e","order":4,"width":0,"height":0,"label":"Publicar","color":"","bgcolor":"","icon":"","payload":"Oferta publicada correctamente.","payloadType":"str","topic":"","x":580,"y":520,"wires":[["9f83f1f8.df19f","376a4665.083c62"]]},{"id":"f91f9198.5508e","type":"ui_button","z":"6148dcc.e0c18a4","name":"","group":"480ec768.c768e","order":5,"width":0,"height":0,"label":"Cancelar","color":"red","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":520,"wires":[[]]},{"id":"88fbcd8e.2b0978","type":"function","z":"6148dcc.e0c18a4","name":"","func":"msg.payload = msg.req.query.txt;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":560,"wires":[["9f83f1f8.df19f","64798780.82fe3"]]},{"id":"e15b8dab.a24f38","type":"http in","z":"6148dcc.e0c18a4","name":"","url":"/welcomeText","method":"get","swaggerDoc":"","x":410,"y":560,"wires":[["88fbcd8e.2b0978"]]},{"id":"9f83f1f8.df19f","type":"ui_text","z":"6148dcc.e0c18a4","group":"5fc7e85d.ee8f78","order":0,"width":"15","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":560,"wires":[]},{"id":"64798780.82fe3","type":"http response","z":"6148dcc.e0c18a4","name":"","x":770,"y":600,"wires":[]},{"id":"376a4665.083c62","type":"function","z":"6148dcc.e0c18a4","name":"","func":"msg.payload = \"Asistente del Empleador\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":600,"wires":[["c0a84bc9.c3672"]]},{"id":"784d54c7.23f20c","type":"function","z":"6148dcc.e0c18a4","name":"","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["c1725f64.2f1858","dbad6e9b.be9b9","60487f2e.38763","2c5c63fe.58bbbc"]]},{"id":"b3af13fc.4c1b68","type":"http in","z":"6148dcc.e0c18a4","name":"","url":"/resetNuevaOferta","method":"get","swaggerDoc":"","x":120,"y":80,"wires":[["784d54c7.23f20c","ac27c76c.c5834"]]},{"id":"d179df56.e9a3a8","type":"http response","z":"6148dcc.e0c18a4","name":"","x":630,"y":80,"wires":[]},{"id":"2c5c63fe.58bbbc","type":"function","z":"6148dcc.e0c18a4","name":"","func":"msg.payload=\"OK\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["d179df56.e9a3a8"]]},{"id":"ac27c76c.c5834","type":"function","z":"6148dcc.e0c18a4","name":"","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["d5dd43ad.35dcb","c2b56043.7418","8da36983.db18b","4a69365.59e5348","9700c69b.ba1998","b0120a95.23ec98","f5e92f66.698928","44734875.5c16b8"]]},{"id":"9700c69b.ba1998","type":"ui_switch","z":"6148dcc.e0c18a4","name":"","label":"Horario Comercial","group":"49569416.2fab3c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":320,"wires":[[]]},{"id":"b0120a95.23ec98","type":"ui_switch","z":"6148dcc.e0c18a4","name":"","label":"Turnos Horarios","group":"49569416.2fab3c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":360,"wires":[[]]},{"id":"f5e92f66.698928","type":"ui_switch","z":"6148dcc.e0c18a4","name":"","label":"Disponible Festivos","group":"49569416.2fab3c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":320,"wires":[[]]},{"id":"44734875.5c16b8","type":"ui_switch","z":"6148dcc.e0c18a4","name":"","label":"Inglés","group":"d649b58a.c4de28","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":360,"wires":[[]]},{"id":"c0a84bc9.c3672","type":"subflow:33a41f84.9eccf","z":"6148dcc.e0c18a4","x":760,"y":640,"wires":[]},{"id":"4b2a400a.2198e8","type":"ui_group","z":"","name":"Nueva oferta","tab":"1467c2a2.b019bd","disp":false,"width":"24"},{"id":"49569416.2fab3c","type":"ui_group","z":"","name":"Columna 1","tab":"1467c2a2.b019bd","order":2,"disp":false,"width":"12"},{"id":"d649b58a.c4de28","type":"ui_group","z":"","name":"Columna 2","tab":"1467c2a2.b019bd","order":3,"disp":false,"width":"12"},{"id":"480ec768.c768e","type":"ui_group","z":"","name":"Botones","tab":"1467c2a2.b019bd","order":4,"disp":false,"width":"24"},{"id":"5fc7e85d.ee8f78","type":"ui_group","z":"","name":"Default","tab":"a6d644ec.f445c8","disp":false,"width":"15"},{"id":"1467c2a2.b019bd","type":"ui_tab","z":"","name":"Nueva Oferta de Empleo","icon":"dashboard","order":4},{"id":"a6d644ec.f445c8","type":"ui_tab","z":"","name":"Asistente del Empleador","icon":"dashboard","order":3}]

[{"id":"33a41f84.9eccf","type":"subflow","name":"Switch tab","info":"","in":[{"x":300,"y":40,"wires":[{"id":"fb16e6b5.0bec58"}]}],"out":[]},{"id":"fb16e6b5.0bec58","type":"ui_ui_control","z":"33a41f84.9eccf","name":"ui control","x":500,"y":100,"wires":[[]]},{"id":"804d20f1.400e7","type":"function","z":"33a41f84.9eccf","name":"","func":"msg.payload = msg.req.query.tabname;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["fb16e6b5.0bec58","1ead3830.6945e"]]},{"id":"29680347.bd780c","type":"http in","z":"33a41f84.9eccf","name":"","url":"/displayTab","method":"get","swaggerDoc":"","x":140,"y":100,"wires":[["804d20f1.400e7"]]},{"id":"1ead3830.6945e","type":"http response","z":"33a41f84.9eccf","name":"","x":510,"y":140,"wires":[]},{"id":"ae37b90a.fbec5","type":"ui_text","z":"a8ad9d51.8eaba","group":"5abff79f.00ddf8","order":0,"width":"17","height":"1","name":"nombre","label":"Nombre","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":260,"wires":[]},{"id":"a03f49fd.b2fe6","type":"ui_text","z":"a8ad9d51.8eaba","group":"5abff79f.00ddf8","order":0,"width":"17","height":"1","name":"domicilio","label":"Domicilio","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":300,"wires":[]},{"id":"67735a84.b22cac","type":"ui_text","z":"a8ad9d51.8eaba","group":"5abff79f.00ddf8","order":0,"width":"17","height":"2","name":"estudios","label":"Formación académica","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":340,"wires":[]},{"id":"16237a2f.79f14e","type":"ui_text","z":"a8ad9d51.8eaba","group":"5abff79f.00ddf8","order":0,"width":"17","height":"2","name":"postgrado","label":"Estudios de Postgrado","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":380,"wires":[]},{"id":"39272574.f9fd4a","type":"ui_text","z":"a8ad9d51.8eaba","group":"5abff79f.00ddf8","order":0,"width":"17","height":"3","name":"experiencia","label":"Experiencia Profesional","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":460,"wires":[]},{"id":"9339c7a2.cf826","type":"ui_switch","z":"a8ad9d51.8eaba","name":"","label":"Movilidad Geográfica","group":"450704df.68d35c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":520,"wires":[[]]},{"id":"dcf6392c.b4be58","type":"ui_switch","z":"a8ad9d51.8eaba","name":"","label":"Permiso de Conducir","group":"450704df.68d35c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":560,"wires":[[]]},{"id":"fc72d187.66d85","type":"ui_switch","z":"a8ad9d51.8eaba","name":"","label":"Ofimática","group":"a6f63553.18ca6","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":520,"wires":[[]]},{"id":"876aa424.b8be2","type":"ui_switch","z":"a8ad9d51.8eaba","name":"","label":"Experiencia","group":"a6f63553.18ca6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":560,"wires":[[]]},{"id":"4e2fe660.df6d68","type":"ui_switch","z":"a8ad9d51.8eaba","name":"","label":"Horario Comercial","group":"450704df.68d35c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":600,"wires":[[]]},{"id":"4b8f9f12.35707","type":"ui_switch","z":"a8ad9d51.8eaba","name":"","label":"Turnos Horarios","group":"450704df.68d35c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":640,"wires":[[]]},{"id":"adaafe29.f4d83","type":"ui_switch","z":"a8ad9d51.8eaba","name":"","label":"Disponible Festivos","group":"a6f63553.18ca6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":600,"wires":[[]]},{"id":"bb67d2ac.311d2","type":"ui_switch","z":"a8ad9d51.8eaba","name":"","label":"Inglés","group":"a6f63553.18ca6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":640,"wires":[[]]},{"id":"27ef4638.260092","type":"ui_button","z":"a8ad9d51.8eaba","name":"","group":"e8298d73.c1922","order":4,"width":"0","height":"0","label":"Perfil Personal","color":"","bgcolor":"","icon":"","payload":"Perfil General","payloadType":"str","topic":"","x":280,"y":720,"wires":[["926c14cb.fe9a28"]]},{"id":"9b3e5772.e4e128","type":"ui_button","z":"a8ad9d51.8eaba","name":"","group":"e8298d73.c1922","order":5,"width":"12","height":"1","label":"Cancelar","color":"red","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":780,"wires":[[]]},{"id":"926c14cb.fe9a28","type":"subflow:33a41f84.9eccf","z":"a8ad9d51.8eaba","x":460,"y":720,"wires":[]},{"id":"a1698899.b138e","type":"ui_button","z":"a8ad9d51.8eaba","name":"","group":"e8298d73.c1922","order":5,"width":"12","height":"1","label":"Aplicar","color":"green","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":780,"wires":[[]]},{"id":"c29a6fb.25ff59","type":"inject","z":"a8ad9d51.8eaba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":80,"wires":[["1fd10c4a.df37a4","d3814bf0.32ac38","fcd1bea7.efefc","95e524e7.7ba3d8","85fc2404.0490d8","7e41b22c.e66b24"]]},{"id":"1fd10c4a.df37a4","type":"function","z":"a8ad9d51.8eaba","name":"","func":"msg.payload = \"José Pérez Pérez\";\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":200,"wires":[["ae37b90a.fbec5"]]},{"id":"d3814bf0.32ac38","type":"function","z":"a8ad9d51.8eaba","name":"","func":"msg.payload = \"C/ Pez 3\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":240,"wires":[["a03f49fd.b2fe6"]]},{"id":"fcd1bea7.efefc","type":"function","z":"a8ad9d51.8eaba","name":"","func":"msg.payload = \"Licenciado\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":280,"wires":[["67735a84.b22cac"]]},{"id":"95e524e7.7ba3d8","type":"function","z":"a8ad9d51.8eaba","name":"","func":"msg.payload = \"Organización Industrial\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["16237a2f.79f14e"]]},{"id":"85fc2404.0490d8","type":"function","z":"a8ad9d51.8eaba","name":"","func":"msg.payload = \"Dos años de prácticas\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":400,"wires":[["39272574.f9fd4a"]]},{"id":"7e41b22c.e66b24","type":"function","z":"a8ad9d51.8eaba","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":480,"wires":[["dcf6392c.b4be58","bb67d2ac.311d2"]]},{"id":"5abff79f.00ddf8","type":"ui_group","z":"","name":"Datos personales","tab":"991c7f7a.2844a8","disp":true,"width":"24"},{"id":"450704df.68d35c","type":"ui_group","z":"","name":"Columna1","tab":"991c7f7a.2844a8","disp":false,"width":"12"},{"id":"a6f63553.18ca6","type":"ui_group","z":"","name":"Columna2","tab":"991c7f7a.2844a8","disp":false,"width":"12"},{"id":"e8298d73.c1922","type":"ui_group","z":"","name":"Botones","tab":"991c7f7a.2844a8","disp":false,"width":"24"},{"id":"991c7f7a.2844a8","type":"ui_tab","z":"","name":"Demandante de Empleo","icon":"dashboard","order":5}]